@charset "UTF-8";

body{
    margin: 0;  	
    padding: 0;
    text-align: center;
    background-color: #E9E9E9;
}


#barraMenu{
    height: 60px;
    width: 100%;
    background-image: linear-gradient(to right, #00975C, #008752);
}

.tituloFont{
    color: white;
    font-size: 17pt;
    font-weight: 100;
    font-family: calibri, sans-serif;
}

#tituloForm{
    height: 100px;
    width: 200px;
    border-radius: 30px;
    background-color: #FF7407;
    margin: 5px;
    padding: 0px;
}

.fichaFont{
    color: white;
    font-size: 17pt;
    font-weight: 400;
    font-family: calibri, sans-serif;
}

#fichaForm{
    
    width: 30%;
    
    padding: 5px;
    margin: 5px;
    
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    border-color: #00975C;
}