@charset "UTF-8";

body{
    margin: 0;  	
    padding: 0;
    text-align: center;
    background-color: #DEDEDE;
}


#barraMenu{
    height: 65px;
    width: 100%;
    background-image: linear-gradient(to right, #00975C, #008752);
}

.tituloFont{
    width: 100%;

    color: #FF7407;
    font-size: 17pt;
    font-weight: 900;
    font-family: calibri, sans-serif;
}

#tituloForm{
    width: 80%;
    background-color: white;
    margin: 5px;
    padding: 5px;
    display: flex;

    border-radius: 5px;
    border-bottom-style: double;
    border-color: #FF7407;
}

.fichaFont{
    color: black;
    font-size: 12pt;
    font-weight: 100;
    font-family: calibri, sans-serif;
}

#fichaForm{

    width: 100%;

    padding: 5px;
    margin: 5px;

    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: #00975C;
}

.selectBoolean{
    margin: 10px;
    color: white;
    font-size: 12pt;
    font-weight: 100;
    font-family: calibri, sans-serif;

    background-image: linear-gradient(to right, #00975C, #00975C);

    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: #00975C;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

.caixaTexto{
    margin: 15px;
    padding: 5px;
    color: black;
    
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #00975C;
    
    text-align: center;
    font-size: 12pt;
    font-weight: 100;
    font-family: calibri, sans-serif;
}

.botaoLaranja{
    margin: 20px;
    
    color: #FF7407;
    font-size: 15pt;
    font-weight: 100;
    font-family: calibri, sans-serif;
    background-image: linear-gradient(to right, #DEDEDE, #DEDEDE);
    
    border-radius: 20px;
    border-style: solid;
    border-color: #FF7407;
    border-width: 1px;
}
.botaoLaranja:hover{
    background-image: linear-gradient(to right, #FF7407, #FF7407);
    color: white;
}

.ui-datalist ul {
    padding: 0px 10px 0 20px;
    margin: 5px 0;
}

.ui-datalist {
    margin-bottom: 10px
}

.ui-noborder tr.ui-widget-content {
    background: none;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 15px;
    height: 5px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #cccccc;
}